In [1]:
import numpy as np
import pandas as pd

# Restructuring Data

In [4]:
weather = pd.read_csv('C:/Users/htc/Downloads/weather.csv')

In [5]:
weather

,year,month,element,day1,day2,day3,day4,day5,day6,day7,...,day22,day23,day24,day25,day26,day27,day28,day29,day30,day31
0,2018,1,max,17.573016,19.796815,22.412495,17.813163,20.165825,17.060539,22.736134,...,22.629226,19.013674,17.831558,17.018316,21.837387,19.700255,19.084056,18.534690,20.787275,21.117423
1,2018,1,min,22.725760,21.007865,17.730792,18.045290,20.766734,18.656651,22.607481,...,21.163491,17.371653,17.194530,18.964190,17.892385,17.646139,19.844125,22.729859,19.768917,20.913443
2,2018,2,max,19.015120,19.261805,17.510713,21.080425,17.915749,19.082145,18.056023,...,21.254968,20.346324,20.036019,22.926773,17.533172,20.308927,20.438899,17.005806,18.346534,20.878165
3,2018,2,min,18.653843,22.818600,21.842673,21.958159,22.523078,18.535469,19.636158,...,19.711974,20.586232,18.780840,20.065633,18.293548,20.823661,18.056112,22.748292,22.470172,18.602007
4,2018,3,max,20.741115,19.704016,17.039811,20.703908,22.714125,17.205000,19.079503,...,19.528963,19.563689,22.658997,22.446357,17.911240,22.591993,17.406800,19.118712,22.767154,17.119452
5,2018,3,min,17.250431,20.325829,21.473071,18.132962,18.405875,21.202295,22.756433,...,18.710609,19.523041,18.160872,17.343222,21.365854,18.198453,19.469490,22.732071,19.558373,21.205858
6,2018,4,max,20.408029,21.634346,22.677863,20.839558,19.371399,18.202578,21.916666,...,18.086580,21.861976,22.605832,19.209812,20.832980,20.797801,22.940309,21.036940,21.043597,18.219116
7,2018,4,min,21.849449,19.659674,18.009526,19.450892,22.665184,20.373879,19.245455,...,17.700962,22.241221,18.980226,18.879181,17.709269,20.661247,20.706672,19.968800,18.643717,19.953586
8,2018,5,max,21.354089,21.806705,19.863229,22.475220,18.996700,20.851806,18.774501,...,20.509023,20.080743,22.593543,18.806516,17.161325,19.362999,17.890202,18.695062,18.359134,19.559418
9,2018,5,min,18.889095,20.123320,19.376866,21.989649,17.459797,21.083719,20.670180,...,20.810872,18.254264,20.211035,20.679265,21.625088,21.260536,21.358298,20.760568,19.993844,22.908548
10,2018,6,max,22.419377,20.389671,22.669923,22.810337,20.300108,17.091177,20.195100,...,21.781542,17.015285,19.686188,17.987342,21.435778,21.736961,20.525993,20.003775,21.647975,17.277369
11,2018,6,min,21.121687,19.357005,17.346115,17.359855,18.956584,18.830880,17.514378,...,18.740019,22.893276,18.702475,19.178735,17.166716,21.236775,22.427899,19.030243,22.954366,20.909982
12,2018,7,max,19.006195,19.512117,21.249908,19.472257,17.682757,18.012483,22.622591,...,18.364730,21.049519,22.172182,22.032563,19.726391,19.359546,19.418448,22.130186,20.058017,18.371838
13,2018,7,min,19.704782,20.818029,21.998987,21.641961,21.974238,22.621633,19.706172,...,22.299387,21.523530,20.230445,17.291023,21.060501,18.380388,22.157723,20.065760,21.294903,18.303314
14,2018,8,max,21.736412,20.740506,21.384080,20.838949,19.450819,21.023473,18.996653,...,22.734952,18.310030,22.097507,17.002121,22.911112,19.771628,20.581845,22.614760,19.784193,21.420338
15,2018,8,min,18.896222,18.287267,19.770868,17.797850,18.318406,18.518200,17.960998,...,21.106888,18.091430,19.811531,20.808951,22.064548,21.913260,18.984714,18.327634,19.071913,18.538477
16,2018,10,max,18.503314,21.919221,22.222731,20.056339,21.171342,17.524772,18.845044,...,20.114971,20.885268,19.796539,18.925604,18.503575,20.695417,17.522579,18.225444,20.358178,21.530773
17,2018,10,min,22.845420,20.925599,17.622722,18.288523,17.924307,19.323868,20.499858,...,17.366527,21.204981,17.966559,20.621188,20.377089,21.781845,21.758143,18.036278,17.382997,21.691537
18,2018,11,max,17.994997,18.763467,22.573770,18.971307,22.703736,17.877037,21.348616,...,19.020742,22.752335,21.437482,17.751197,22.461303,22.311952,17.661902,22.275747,18.108529,20.750438
19,2018,11,min,22.275672,20.969661,17.245579,19.999959,21.967979,20.874754,22.106562,...,22.308400,21.021536,22.394417,19.019626,21.287149,20.163074,20.674553,17.862405,22.946974,18.939767
20,2018,12,max,17.367511,20.085256,22.052408,21.705199,21.375349,17.992885,19.683359,...,18.234449,21.399323,20.812194,18.291352,20.828003,20.528289,21.457248,19.919595,18.830226,19.648924
21,2018,12,min,18.175223,18.372862,22.745302,22.179476,20.865535,20.310116,20.531823,...,18.337089,18.498903,19.639278,20.677835,17.974580,18.744409,20.488991,21.662129,20.137534,18.775539

In [6]:
# Many of the time we receive data in a way that we don't want it. So in these cases we have to restructure our data in a more beautiful way.

In [7]:
# let's say this weather data has a wide format data. And I'm not comfortable with this type of data. How do I restructure it?

In [10]:
weather.info()
# so we don't have null values here

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 34 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     22 non-null     int64
 1   month    22 non-null     int64
 2   element  22 non-null     object
 3   day1     22 non-null     float64
 4   day2     22 non-null     float64
 5   day3     22 non-null     float64
 6   day4     22 non-null     float64
 7   day5     22 non-null     float64
 8   day6     22 non-null     float64
 9   day7     22 non-null     float64
 10  day8     22 non-null     float64
 11  day9     22 non-null     float64
 12  day10    22 non-null     float64
 13  day11    22 non-null     float64
 14  day12    22 non-null     float64
 15  day13    22 non-null     float64
 16  day14    22 non-null     float64
 17  day15    22 non-null     float64
 18  day16    22 non-null     float64
 19  day17    22 non-null     float64
 20  day18    22 non-null     float64
 21  day19    22 non-null     float64
 22  day20    22 non-null     float64
 23  day21    22 non-null     float64
 24  day22    22 non-null     float64
 25  day23    22 non-null     float64
 26  day24    22 non-null     float64
 27  day25    22 non-null     float64
 28  day26    22 non-null     float64
 29  day27    22 non-null     float64
 30  day28    22 non-null     float64
 31  day29    22 non-null     float64
 32  day30    22 non-null     float64
 33  day31    22 non-null     float64
dtypes: float64(31), int64(2), object(1)
memory usage: 6.0+ KB

In [11]:
# Now let's restructure our data using pd.melt()

In [13]:
# you see data is melted.
# let's change our variable name and value column name
pd.melt(weather,id_vars = ['year','month','element'])

     year  month element variable      value
0    2018      1     max     day1  17.573016
1    2018      1     min     day1  22.725760
2    2018      2     max     day1  19.015120
3    2018      2     min     day1  18.653843
4    2018      3     max     day1  20.741115
..    ...    ...     ...      ...        ...
677  2018     10     min    day31  21.691537
678  2018     11     max    day31  20.750438
679  2018     11     min    day31  18.939767
680  2018     12     max    day31  19.648924
681  2018     12     min    day31  18.775539

[682 rows x 5 columns]

In [14]:
weather_melted = pd.melt(weather,id_vars = ['year','month','element'],var_name = 'days',value_name ='temperature')

In [15]:
weather_melted

     year  month element   days  temperature
0    2018      1     max   day1    17.573016
1    2018      1     min   day1    22.725760
2    2018      2     max   day1    19.015120
3    2018      2     min   day1    18.653843
4    2018      3     max   day1    20.741115
..    ...    ...     ...    ...          ...
677  2018     10     min  day31    21.691537
678  2018     11     max  day31    20.750438
679  2018     11     min  day31    18.939767
680  2018     12     max  day31    19.648924
681  2018     12     min  day31    18.775539

[682 rows x 5 columns]

In [17]:
# This is a temporary data if we like want our real data back, we can just get it from weather data set.
# However if you want to reverse it back using weather_melted we can do it.
# using pd.pivot()

In [27]:
weather_pivoted = pd.pivot(weather_melted,index = ['year','month','element'],columns = 'days',values = 'temperature')

In [28]:
weather_pivoted.reset_index()

days,year,month,element,day1,day10,day11,day12,day13,day14,day15,...,day29,day3,day30,day31,day4,day5,day6,day7,day8,day9
0,2018,1,max,17.573016,19.067288,19.361002,20.982134,21.668005,19.441664,17.609544,...,18.534690,22.412495,20.787275,21.117423,17.813163,20.165825,17.060539,22.736134,20.616921,18.229811
1,2018,1,min,22.725760,19.931129,22.598325,17.715137,17.940334,19.853651,18.662379,...,22.729859,17.730792,19.768917,20.913443,18.045290,20.766734,18.656651,22.607481,22.468289,18.126316
2,2018,2,max,19.015120,20.623170,22.919827,22.013088,20.899679,22.142212,20.763999,...,17.005806,17.510713,18.346534,20.878165,21.080425,17.915749,19.082145,18.056023,22.438020,21.938647
3,2018,2,min,18.653843,20.406606,22.383740,22.077585,19.708466,19.187420,22.125001,...,22.748292,21.842673,22.470172,18.602007,21.958159,22.523078,18.535469,19.636158,21.857388,21.152948
4,2018,3,max,20.741115,21.523745,19.031810,18.189939,22.906503,22.062526,22.749002,...,19.118712,17.039811,22.767154,17.119452,20.703908,22.714125,17.205000,19.079503,19.385105,22.641007
5,2018,3,min,17.250431,22.659978,17.557708,21.705888,18.452008,21.645681,22.021741,...,22.732071,21.473071,19.558373,21.205858,18.132962,18.405875,21.202295,22.756433,20.069465,22.576501
6,2018,4,max,20.408029,17.507677,21.761735,19.172134,18.906697,20.099364,19.743349,...,21.036940,22.677863,21.043597,18.219116,20.839558,19.371399,18.202578,21.916666,18.747752,21.749224
7,2018,4,min,21.849449,21.891405,21.351349,18.514812,17.411195,18.431759,21.165369,...,19.968800,18.009526,18.643717,19.953586,19.450892,22.665184,20.373879,19.245455,21.389677,17.475991
8,2018,5,max,21.354089,21.301897,20.574071,22.723350,22.856340,22.933260,19.538299,...,18.695062,19.863229,18.359134,19.559418,22.475220,18.996700,20.851806,18.774501,17.881270,18.584408
9,2018,5,min,18.889095,19.442066,22.482399,17.811882,18.004877,22.703267,17.860153,...,20.760568,19.376866,19.993844,22.908548,21.989649,17.459797,21.083719,20.670180,22.378758,18.603613
10,2018,6,max,22.419377,18.453909,19.483994,22.613443,21.413960,18.178747,21.759436,...,20.003775,22.669923,21.647975,17.277369,22.810337,20.300108,17.091177,20.195100,18.873392,19.996183
11,2018,6,min,21.121687,18.441432,22.437238,19.962931,19.301356,21.797049,17.323884,...,19.030243,17.346115,22.954366,20.909982,17.359855,18.956584,18.830880,17.514378,19.935816,20.249227
12,2018,7,max,19.006195,18.938600,20.145241,18.182840,19.905084,17.723472,20.401373,...,22.130186,21.249908,20.058017,18.371838,19.472257,17.682757,18.012483,22.622591,19.778909,18.612863
13,2018,7,min,19.704782,17.053850,19.923905,17.619261,17.877900,18.192022,19.291675,...,20.065760,21.998987,21.294903,18.303314,21.641961,21.974238,22.621633,19.706172,19.895614,22.361560
14,2018,8,max,21.736412,22.853273,20.844647,22.308015,22.238461,18.538391,20.204003,...,22.614760,21.384080,19.784193,21.420338,20.838949,19.450819,21.023473,18.996653,21.062467,22.778349
15,2018,8,min,18.896222,17.299154,19.209988,19.894978,20.348155,18.995740,21.845796,...,18.327634,19.770868,19.071913,18.538477,17.797850,18.318406,18.518200,17.960998,18.454756,19.456056
16,2018,10,max,18.503314,19.387604,21.486878,20.408238,21.738853,18.978805,21.752981,...,18.225444,22.222731,20.358178,21.530773,20.056339,21.171342,17.524772,18.845044,22.934687,20.254894
17,2018,10,min,22.845420,19.093981,21.219738,19.233836,22.748544,18.814694,22.405102,...,18.036278,17.622722,17.382997,21.691537,18.288523,17.924307,19.323868,20.499858,17.896248,19.581384
18,2018,11,max,17.994997,19.144784,22.634784,21.857309,20.514557,22.374936,17.722483,...,22.275747,22.573770,18.108529,20.750438,18.971307,22.703736,17.877037,21.348616,22.100336,19.034590
19,2018,11,min,22.275672,19.206065,22.820985,22.116759,17.854570,19.706737,20.824188,...,17.862405,17.245579,22.946974,18.939767,19.999959,21.967979,20.874754,22.106562,19.559973,21.381872
20,2018,12,max,17.367511,19.723102,18.702306,21.946825,22.017111,20.703143,22.813501,...,19.919595,22.052408,18.830226,19.648924,21.705199,21.375349,17.992885,19.683359,20.477046,20.210640
21,2018,12,min,18.175223,20.911788,19.580756,22.285076,18.253092,18.865005,21.505977,...,21.662129,22.745302,20.137534,18.775539,22.179476,20.865535,20.310116,20.531823,19.310346,22.820992

In [29]:
# Let's try to combine both melt and pivot in a single table. And see what we get.

In [46]:
weather_tidy = pd.pivot(weather_melted,index = ['year','month','days'],
        columns = 'element', values = 'temperature')

In [49]:
weather_tidy= weather_tidy.reset_index()

In [50]:
weather_tidy.columns

Index(['year', 'month', 'days', 'max', 'min'], dtype='object', name='element')

In [51]:
# let's remove this element, causing a confusion because of multi indexing

In [52]:
weather_tidy.columns.name = None

In [55]:
weather_tidy['days'] = weather_tidy['days'].apply(lambda x : x[3:])

In [56]:
weather_tidy

     year  month days        max        min
0    2018      1    1  17.573016  22.725760
1    2018      1   10  19.067288  19.931129
2    2018      1   11  19.361002  22.598325
3    2018      1   12  20.982134  17.715137
4    2018      1   13  21.668005  17.940334
..    ...    ...  ...        ...        ...
336  2018     12    5  21.375349  20.865535
337  2018     12    6  17.992885  20.310116
338  2018     12    7  19.683359  20.531823
339  2018     12    8  20.477046  19.310346
340  2018     12    9  20.210640  22.820992

[341 rows x 5 columns]

In [41]:
# now without using group by we want to calculate the mean of max and min elements based on days.

In [59]:
# we will use pd.pivot_table
# By default it provides us aggfunc = mean
# if we have nan values we have one more parameter dropna = False

In [60]:
pd.pivot_table(weather_melted, index=['year','month','days'],
              columns = 'element',values = ['temperature'] ).reset_index()

         year month   days temperature
element                            max        min
0        2018     1   day1   17.573016  22.725760
1        2018     1  day10   19.067288  19.931129
2        2018     1  day11   19.361002  22.598325
3        2018     1  day12   20.982134  17.715137
4        2018     1  day13   21.668005  17.940334
..        ...   ...    ...         ...        ...
336      2018    12   day5   21.375349  20.865535
337      2018    12   day6   17.992885  20.310116
338      2018    12   day7   19.683359  20.531823
339      2018    12   day8   20.477046  19.310346
340      2018    12   day9   20.210640  22.820992

[341 rows x 5 columns]

In [2]:
# Let's do it with one more data set

In [5]:
df = pd.read_csv("C:/Users/htc/Downloads/Pfizer_1.csv")

In [6]:
df

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [8]:
df.info()

# Here we can see some null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       18 non-null     object
 1   Drug_Name  18 non-null     object
 2   Parameter  18 non-null     object
 3   1:30:00    16 non-null     float64
 4   2:30:00    16 non-null     float64
 5   3:30:00    12 non-null     float64
 6   4:30:00    14 non-null     float64
 7   5:30:00    16 non-null     float64
 8   6:30:00    18 non-null     int64
 9   7:30:00    16 non-null     float64
 10  8:30:00    14 non-null     float64
 11  9:30:00    16 non-null     float64
 12  10:30:00   18 non-null     int64
 13  11:30:00   16 non-null     float64
 14  12:30:00   18 non-null     int64
dtypes: float64(9), int64(3), object(3)
memory usage: 2.2+ KB

In [12]:
df_melted = pd.melt(df,id_vars=['Date','Drug_Name','Parameter'],
                   var_name = 'Time', value_name = 'Result')

In [13]:
df_melted

           Date                Drug_Name    Parameter      Time  Result
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00    23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00    12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00     NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00     NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00    24.0
..          ...                      ...          ...       ...     ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00    14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00    23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00    28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00    24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00    15.0

[216 rows x 5 columns]

In [14]:
# Let's reverse it back

In [15]:
df_pivoted = pd.pivot(df_melted,
                     index = ['Date','Drug_Name','Parameter'],
                     columns = 'Time',
                     values = 'Result')

In [19]:
df_pivoted = df_pivoted.reset_index()

In [20]:
df_pivoted.columns.name = None

In [21]:
df_pivoted

,Date,Drug_Name,Parameter,10:30:00,11:30:00,12:30:00,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00
0,15-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,12.0,13.0,NaN,11.0,13.0,14.0,16.0,16.0,24.0
1,15-10-2020,diltiazem hydrochloride,Temperature,20.0,20.0,21.0,23.0,22.0,NaN,21.0,21.0,22.0,23.0,21.0,22.0
2,15-10-2020,docetaxel injection,Pressure,26.0,29.0,28.0,NaN,22.0,22.0,NaN,22.0,23.0,NaN,NaN,27.0
3,15-10-2020,docetaxel injection,Temperature,23.0,25.0,25.0,NaN,17.0,18.0,NaN,17.0,18.0,NaN,NaN,23.0
4,15-10-2020,ketamine hydrochloride,Pressure,9.0,9.0,11.0,8.0,NaN,NaN,7.0,NaN,9.0,10.0,11.0,10.0
5,15-10-2020,ketamine hydrochloride,Temperature,22.0,21.0,20.0,24.0,NaN,NaN,27.0,NaN,26.0,25.0,24.0,23.0
6,16-10-2020,diltiazem hydrochloride,Pressure,24.0,NaN,27.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,25.0
7,16-10-2020,diltiazem hydrochloride,Temperature,40.0,NaN,42.0,34.0,35.0,36.0,36.0,37.0,38.0,37.0,38.0,39.0
8,16-10-2020,docetaxel injection,Pressure,28.0,29.0,30.0,23.0,24.0,NaN,25.0,26.0,27.0,28.0,29.0,28.0
9,16-10-2020,docetaxel injection,Temperature,56.0,57.0,58.0,46.0,47.0,NaN,48.0,48.0,49.0,50.0,52.0,55.0
10,16-10-2020,ketamine hydrochloride,Pressure,16.0,17.0,18.0,12.0,12.0,13.0,NaN,15.0,15.0,15.0,15.0,NaN
11,16-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,8.0,9.0,10.0,NaN,11.0,12.0,12.0,11.0,NaN
12,17-10-2020,diltiazem hydrochloride,Pressure,11.0,13.0,14.0,3.0,4.0,4.0,4.0,6.0,8.0,9.0,NaN,9.0
13,17-10-2020,diltiazem hydrochloride,Temperature,14.0,11.0,10.0,20.0,19.0,19.0,18.0,17.0,16.0,15.0,NaN,13.0
14,17-10-2020,docetaxel injection,Pressure,28.0,29.0,28.0,20.0,22.0,22.0,22.0,22.0,23.0,25.0,26.0,27.0
15,17-10-2020,docetaxel injection,Temperature,21.0,22.0,23.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
16,17-10-2020,ketamine hydrochloride,Pressure,13.0,14.0,15.0,8.0,9.0,10.0,11.0,11.0,12.0,12.0,11.0,12.0
17,17-10-2020,ketamine hydrochloride,Temperature,22.0,23.0,24.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0

In [22]:
# Let's combine both pd.pivot and pd.melt

In [23]:
df_tidy = pd.pivot(df_melted,
                  index=['Date','Drug_Name','Time'],
                  columns = 'Parameter',
                  values = 'Result').reset_index()

In [25]:
df_tidy.columns.name=None

In [26]:
df_tidy

           Date                Drug_Name      Time  Pressure  Temperature
0    15-10-2020  diltiazem hydrochloride  10:30:00      18.0         20.0
1    15-10-2020  diltiazem hydrochloride  11:30:00      19.0         20.0
2    15-10-2020  diltiazem hydrochloride  12:30:00      20.0         21.0
3    15-10-2020  diltiazem hydrochloride   1:30:00      12.0         23.0
4    15-10-2020  diltiazem hydrochloride   2:30:00      13.0         22.0
..          ...                      ...       ...       ...          ...
103  17-10-2020   ketamine hydrochloride   5:30:00      11.0         17.0
104  17-10-2020   ketamine hydrochloride   6:30:00      12.0         18.0
105  17-10-2020   ketamine hydrochloride   7:30:00      12.0         19.0
106  17-10-2020   ketamine hydrochloride   8:30:00      11.0         20.0
107  17-10-2020   ketamine hydrochloride   9:30:00      12.0         21.0

[108 rows x 5 columns]

In [27]:
# Let's say if we want to calculate the mean of pressure and temperature for every day and for every drug. Without using Group by.

In [31]:
pd.pivot_table(df_tidy,
              index = ['Drug_Name'],
              columns = 'Date',
              values = ['Temperature'],
              aggfunc = 'mean')

                        Temperature
Date                     15-10-2020 16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride   21.454545  37.454545  15.636364
docetaxel injection       20.750000  51.454545  17.500000
ketamine hydrochloride    23.555556  11.500000  18.500000

In [32]:
pd.pivot_table(df_tidy,
              index = ['Drug_Name'],
              columns = 'Date',
              values = ['Temperature'],
              aggfunc = 'mean',margins = True)

                        Temperature
Date                     15-10-2020 16-10-2020 17-10-2020        All
Drug_Name
diltiazem hydrochloride   21.454545  37.454545  15.636364  24.848485
docetaxel injection       20.750000  51.454545  17.500000  30.387097
ketamine hydrochloride    23.555556  11.500000  18.500000  17.709677
All                       21.928571  34.156250  17.257143  24.326316

In [33]:
# But this calculation is not correct why?
# Because we had Nan values in our dataset
# We will deal with Nan Values in our next class